<!DOCTYPE html>
<html>
<head>
	<title>Share Meetup</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>

	<nav>
		<div class="nav-wrapper teal">
			<a href="#!" class="brand-logo center" >Share Meetup!</a>
			<ul class="right hide-on-med-and-down">
<!--		        <li><a href="{% url 'login' %}">Log In</a></li>
		        <li><a href="{% url 'create_account' %}">Create Account</a></li>
		    <li><a href="#!">JavaScript</a></li> -->
	      	</ul> 										
		</div>
	</nav>
	
	<main class="container">
		<div class="row">
			<div class="import-button">
				<a href="#!" class="btn">Import Meetup Events</a>
			</div>

			<div class="">
				{% for items in events %}
					<div class="card">
						<div class="card-content">
							<span class="card-title">{{ items.group.name }}</span>
							<img class="right" src="{{items.group.photo.thumb_link}}" alt="">
							<p>{{ items.name }}<br><br><a href="{{ items.short_link }}">Event Details</a></p>
						</div>
						<div class="card-action">
							<a href="{% url 'share' %}"><span class="twitter-post">Post To Twitter</span></a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>

	<script type="text/javascript" src="{% static 'js/jquery-2.2.2.js' %}" ></script>
	<script type="text/javascript" src="{% static 'js/materialize.min.js' %}" ></script>

</body>
</html>
