body { background-color: #e57373 !important; }

.social-buttons { padding-top: 1%; }

.twitter-post { color: #e67373 !important; }

.input-field input,
.input-field label,
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label { color: white; }

.form-container {
  margin-top: 3% !important;
  margin-bottom: 1% !important;
  padding: 0% 3% 2% 3% !important;
  background-color: #669688;
}

.sidenav { height: 100%;
position: absolute;}

.navigation {
	position: fixed;
}

.cards {
	position: relative;
}
