body { background-color: #e57373 !important; }

.social-buttons { padding-top: 1%; }

.twitter-post { color: #e67373 !important; }

.input-field input,
.input-field label,
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label { color: white; }

.form-container {
  margin-top: 3%;
  margin-bottom: 1%;
  padding: 1% 3% 5% 3%;
  background-color: #669688;
}
