body { background-color: #e57373 !important; }

main {
	padding: 20% 0 20% 0;
}

.circle {
	height: 3%;
	max-width: 3%;
	border-radius: 50% !important;
	background-color: white;
}

.input-field input,
.input-field label,
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label { color: white; }

.form-container {
  margin-top: 3% !important;
  margin-bottom: 1% !important;
  padding: 0% 3% 2% 3% !important;
  background-color: #669688;
}

