body {
	background-color: #e57373 !important; }

.import-button {
	padding-top: 1%; }

.twitter-post {
	color: #e67373; }

.pad {
	padding: 2% !important; }

.helptext {
	display: none; }

.account-buttons {
	padding-top: 5%;
}

.form-container {
	margin-top: 3%;
	padding: 3%;
	padding-bottom: 5%;
	background-color: #669688;
}

.input-field input {
     color: white;
   }
.input-field label {
     color: white;
   }

.input-field input[type=text]:focus + label {
 color: white;
}

.input-field input[type=password]:focus + label {
 color: white;
}