<html>
  <head>
	<title>Share Meetup</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" href= "{% static  'css/style.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

	<nav class="z-depth-0 navigation">
	  <div class="nav-wrapper teal">
		<a href="{% url 'index' %}" class="brand-logo center" >Share Meetups</a>
		<ul class="right hide-on-med-and-down">
		  {% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">Logout</a></li>
		  {% endif %}
      	</ul>
	  </div>
	</nav>

	{% block main %}{% endblock %}

	<script src="{% static 'js/jquery-2.2.2.js' %}" ></script>
	<script src="{% static 'js/materialize.min.js' %}" ></script>
  </body>
</html>