{% extends 'base.html' %}
{% block main %}

<!-- Create a card for each Meetup the user has RSVP'd to that displays the Meetup Group Name, the Event Name, a link to the event, and a link to post the event to Twitter -->
  <div class="row">
  	<div class="container col s2 grey sidenav fixed">
  	    <h3>Twitter</h3>
  	    <h3>Facebook</h3>
  	</div>

  	<div class="container col s10 right cards">
	  {% for items in meetup_data %}
		<div class="z-depth-0 card center">
		  <div class="card-content">
			<span class="card-title"> {{ items.group_name }} </span>
			<img class="right" src=" {{items.thumb_link}} " alt="">
			<p>{{ items.event_name }}<br><br>
			  <a href=" {{ items.web_link }} ">Event Details</a>
			</p>
		  </div>
		  <div class="card-action">
			<a class="twitter-post" href=" {%url 'share' items.event_id %} ">Post To Twitter
			</a>
		  </div>
		</div>
	  {% endfor %}
	</div>
</div>
{% endblock %}
