{% extends 'base.html' %}

{% block main %}

	<main class="container">
			<div class="import-button">
				<a href="#!" class="btn">Import Meetup Events</a>
			</div>

			<div class="">
				{% for items in meetup_data %}
					<div class="card">
						<div class="card-content">
							<span class="card-title">{{ items.group_name }}</span>
							<img class="right" src="{{items.thumb_link}}" alt="">
							<p>{{ items.event_name }}<br><br><a href="{{ items.web_link }}">Event Details</a></p>
						</div>
						<div class="card-action">
							<a href="{% url 'share' items.event_id %}"><span class="twitter-post">Post To Twitter</span></a>
						</div>
					</div>
				{% endfor %}
			</div>
	</main>

{% endblock %}

