<html>
	<head>
		<title>Share Meetup</title>
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static  'css/grid.css' %}">
		<link rel="stylesheet" href="{% static  'css/normalize.css' %}">
		<link rel="stylesheet" href= "{% static  'css/style.css' %}">
	</head>
	<body>
		<div class="form-container ">
			<form class="create-user col-3" action="/create_account/" method="post">
				{% csrf_token %}
	    		{{ form }}
	    		<input type="submit" value="Submit" />
			</form>
		</div>
	</body>
</html>